{% extends 'layout.html' %}

{% block title %}Details{% endblock %}
{% block level_styles %}
    <link rel="stylesheet" href="/static/css/details.css">
    <link rel="stylesheet" type="text/css" media="screen" href="/static/css/font-awesome.min.css">
    <!-- SmartAdmin Styles : Caution! DO NOT change the order -->
    <link rel="stylesheet" type="text/css" media="screen" href="/static/css/smartadmin-production-plugins.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="/static/css/smartadmin-production.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="/static/css/smartadmin-skins.min.css">
    <!-- SmartAdmin RTL Support -->
    <link rel="stylesheet" type="text/css" media="screen" href="/static/css/smartadmin-rtl.min.css">
    <!-- We recommend you use "your_style.css" to override SmartAdmin
							specific styles this will also ensure you retrain your customization with each SmartAdmin update.
	<link rel="stylesheet" type="text/css" media="screen" href="css/your_style.css"> -->
    <!-- Demo purpose only: goes with demo.js, you can delete this css when designing your own WebApp -->
    <link rel="stylesheet" type="text/css" media="screen" href="/static/css/demo.min.css">
{% endblock %}
{% block nav %}
    <nav class="navbar navbar-default" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Logo</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">

            <form class="navbar-form navbar-left" role="search">
                <div class="input-group">
                    <input type="text" class="form-control">
        					<span class="input-group-btn">
        							<button type="button" class="btn btn-default">
                                        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                                    </button>
        					</span>
                </div>
                <!-- /input-group -->
            </form>

            <ul class="nav navbar-nav navbar-right">
                <li><a data-toggle="modal" href="#myModal">Help </a></li>
                <li><a href="#">Register</a></li>
                <li><a href="#">Login</a></li>
            </ul>
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title">Articulos Sugeridos</h4>
                        </div>
                        <div class="modal-body">
                            <h4><span class="ion-document-text"></span>Guia para empezar</h4>
                        </div>
                        <hr>
                        <div class="modal-body">
                            <h4><span class="ion-document-text"></span>Que tengo que hacer para reservar</h4>
                        </div>
                        <hr>
                        <div class="modal-body">
                            <h4><span class="ion-document-text"></span>Puedo modificar una reserva confirmada</h4>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                            <a href="#" class="pull-left">Centro de Ayuda</a>
                        </div>
                    </div>
                    <!-- /.modal-content -->
                </div>
                <!-- /.modal-dialog -->
            </div>
            <!-- /.modal -->

        </div>
        <!-- /.navbar-collapse -->
    </nav>
{% endblock %}
{% block body %}
    <style>
        .line-through {
            text-decoration: line-through;
            color: #b7b7b7;
        }
    </style>
    <div class="modal fade" id="access-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Authenticate with one of your social networks</h4>
                </div>
                <div class="modal-body">
                    <a href="#" class="btn btn-fb btn-block btn-lg"><span
                            class="icon-social ion-social-facebook"></span>Register with Facebook</a>
                    <a href="#" class="btn btn-tw btn-block btn-lg"><span class="icon-social ion-social-twitter"></span>Register
                        with Twitter</a>
                    <a href="#" class="btn btn-gp btn-block btn-lg"><span
                            class="icon-social ion-social-googleplus"></span>Register with Google+</a>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <div class="categories  hidden-xs hidden-sm">
        <div class="container">
            <ul>
                <li><a href="#gallery">Fotos</a></li>
                <li><a href="#main-info">Informacion sobre este anuncio</a></li>
                <li><a href="#detailed-info">Detalles</a></li>
                <li><a href="#comments">Comentarios</a></li>
            </ul>
        </div>
    </div>
    <img src="/static/img/loading.gif" alt="Loading" class="preloader">
    <div class="gallery" id="gallery">
        <div class="jumbotron col-xs-12">
            <div class="row gallery-container col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <img src="/static/img/01.jpg" alt="01" class="picture">
            </div>
            <div class="thumbs">
                {% for item in pictures %}
                    <a class="pic-link" href="/media/imagenes/{{ item }}"><img class="thumb" src="/media/imagenes/{{ item }}"></a>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="main-info" id="main-info">
        <div class="container">
            <div class="hidden-xs hidden-sm col-xs-2 col-sm-2 col-md-2 col-lg-2">
                <div class="container">
                    <!-- temp -->
                    <div>
                        <img class="img-circle" src="/media/{{ entity.foto_dueno }}" width="56" height="66">
                    </div>
                    <small class="author">{{ entity.nombre_dueno }}</small>
                </div>
            </div>
            <div class="details col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <h1 class="home-name">{{ entity }} at {{ entity.municipio }}</h1>
                <input type="hidden" value="{{ entity.pk }}" id="entity_id">
                <small class="home-location"><span class="ion-ios-location" aria-hidden="false"></span>
                    {{ entity.municipio }}, {{ entity.provincia }}, {{ entity.pais }}
                </small>
                <div class="category">
                    {#                    {% for item in range(entity.votos) %}#}
                    <span class="ion-ios-star"></span>
                    {#                    {% endfor %}#}

                    <small class="reviews">({{ entity.feedback_set.count }})</small>
                </div>
                <div class="simple-about col-lg-offset-1 col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="detail-container first col-xs-1"><span class="ion-android-camera"></span><span
                            class="description"> (Habitaciones) - {{ entity.cant_habitaciones }}</span></div>
                    <div class="detail-container col-xs-1"><span class="ion-connection-bars"></span><span
                            class="description"> (Cantidad camas simples) - {{ cant_camas_simples }}</span></div>
                    <div class="detail-container col-xs-1"><span class="ion-android-restaurant"></span><span
                            class="description"> (Cantidad camas dobles) - {{ cant_camas_dobles }}</span></div>
                    <div class="detail-container col-xs-1"><span class="ion-ios-snowy"></span><span
                            class="description">(Cantidad total de personas) - {{ cant_total_personas }}</span>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                <div class="fav">
                    <a class="btn btn-lg btn-block btn-default"><span class="ion-ios-heart-outline"></span> Add to
                        wishlist
                    </a>
                    <a class="btn btn-lg btn-block btn-default"><span class="ion-ios-calendar-outline"></span>
                        Make
                        a reservation
                    </a>
                    <a class="btn btn-lg btn-block btn-default"><span class="ion-chatbubbles"></span> Contact us
                    </a>
                    <a class="btn btn-lg btn-block btn-default"><span class="ion-android-share-alt"></span> Share
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="container detailed-info" id="detailed-info">
        <h3>More Info</h3>
        <section>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </section>
        <hr/>
        <section class="all-details">
            <div class="section-exponation col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                    <h4 class="title-details">El Lugar</h4>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <h5 class="point {% if not entity.garaje %}
                            line-through
                        {% endif %}">Garaje</h5>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <h5 class="point{% if not entity.parqueo %}
                            line-through
                        {% endif %}">Parqueo</h5>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <h5 class="point {% if not entity.internet %}
                            line-through
                        {% endif %}">Internet</h5>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <h5 class="point {% if not entity.piscina %}
                            line-through
                        {% endif %}">Piscina</h5>
                    </div>

                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <h5 class="point {% if not entity.jacuzzi %}
                            line-through
                        {% endif %}">Jacuzzi</h5>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <h5 class="point {% if not entity.ciudad %}
                            line-through
                        {% endif %}">Casa en la ciudad</h5>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <h5 class="point {% if not entity.campo %}
                            line-through
                        {% endif %}">Casa en el campo</h5>
                    </div>

                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <h5 class="point {% if not entity.playa %}
                            line-through
                        {% endif %}">Casa en la playa</h5>
                    </div>
                </div>
            </div>
            <hr/>
            <div class="section-exponation col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                    <h4 class="title-details">Servicios</h4>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <h5 class="point {% if not entity.desayuno %}
                            line-through
                        {% endif %}">Desayuno</h5>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <h5 class="point {% if not entity.meriendas %}
                            line-through
                        {% endif %}">Merienda</h5>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <h5 class="point {% if not entity.cena %}
                            line-through
                        {% endif %}">Cena</h5>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <h5 class="point {% if not entity.bebidas_bar %}
                            line-through
                        {% endif %}">Bebidas (Bar)</h5>
                    </div>

                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <h5 class="point {% if not entity.clase_baile %}
                            line-through
                        {% endif %}">Clases de baile</h5>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <h5 class="point {% if not entity.lavanderia %}
                            line-through
                        {% endif %}">Lavanderia</h5>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <h5 class="point {% if not entity.comida_vegetariana %}
                            line-through
                        {% endif %}">Comidas vegetarianas</h5>
                    </div>
                </div>
            </div>
            <hr/>
            <div class="section-exponation col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                    <h4 class="title-details">Idiomas</h4>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <h5 class="point {% if not entity.ingles %}
                            line-through
                        {% endif %}">Ingles</h5>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <h5 class="point {% if not entity.frances %}
                            line-through
                        {% endif %}">Frances</h5>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <h5 class="point {% if not entity.aleman %}
                            line-through
                        {% endif %}">Aleman</h5>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <h5 class="point {% if not entity.italiano %}
                            line-through
                        {% endif %}">Italiano</h5>
                    </div>

                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <h5 class="point {% if not entity.portugues %}
                            line-through
                        {% endif %}">Portugues</h5>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <h5 class="point">Espanol</h5>
                    </div>

                </div>
            </div>
            <hr/>
            <div class="section-exponation col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                    <h4 class="title-details">Mensaje promocional</h4>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <p>{{ entity.mensaje_promocional }}</p>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <hr>
   <article class="col-sm-12 col-md-12 col-lg-6">

	<!-- Widget ID (each widget will need unique ID)-->
	<div class="jarviswidget" id="wid-id-2" data-widget-editbutton="false" data-widget-deletebutton="false">
		<!-- widget options:
		usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

		data-widget-colorbutton="false"
		data-widget-editbutton="false"
		data-widget-togglebutton="false"
		data-widget-deletebutton="false"
		data-widget-fullscreenbutton="false"
		data-widget-custombutton="false"
		data-widget-collapsed="true"
		data-widget-sortable="false"

		-->
		<header>
			<h2>Fuel Wizard </h2>

		</header>

		<!-- widget div-->
		<div>

			<!-- widget edit box -->
			<div class="jarviswidget-editbox">
				<!-- This area used as dropdown edit box -->

			</div>
			<!-- end widget edit box -->

			<!-- widget content -->
			<div class="widget-body fuelux">

				<div class="wizard">
					<ul class="steps">
						<li data-target="#step1" class="active">
							<span class="badge badge-info">1</span>Step 1<span class="chevron"></span>
						</li>
						<li data-target="#step2">
							<span class="badge">2</span>Step 2<span class="chevron"></span>
						</li>
						<li data-target="#step3">
							<span class="badge">3</span>Step 3<span class="chevron"></span>
						</li>
						<li data-target="#step4">
							<span class="badge">4</span>Step 4<span class="chevron"></span>
						</li>
						<li data-target="#step5">
							<span class="badge">5</span>Step 5<span class="chevron"></span>
						</li>
					</ul>
					<div class="actions">
						<button type="button" class="btn btn-sm btn-primary btn-prev">
							<i class="fa fa-arrow-left"></i>Prev
						</button>
						<button type="button" class="btn btn-sm btn-success btn-next" data-last="Finish">
							Next<i class="fa fa-arrow-right"></i>
						</button>
					</div>
				</div>
				<div class="step-content">
					<form class="form-horizontal" id="fuelux-wizard" method="post">

						<div class="step-pane active" id="step1">
							<h3><strong>Step 1 </strong> - Validation states</h3>

							<!-- wizard form starts here -->
							<fieldset>

								<div class="form-group has-warning">
									<label class="col-md-2 control-label">Input warning</label>
									<div class="col-md-10">
										<div class="input-group">
											<input class="form-control" type="text">
											<span class="input-group-addon"><i class="fa fa-warning"></i></span>
										</div>
										<span class="help-block">Something may have gone wrong</span>
									</div>

								</div>

								<div class="form-group has-error">
									<label class="col-md-2 control-label">Input error</label>
									<div class="col-md-10">
										<div class="input-group">
											<input class="form-control" type="text">
											<span class="input-group-addon"><i class="glyphicon glyphicon-remove-circle"></i></span>
										</div>
										<span class="help-block"><i class="fa fa-warning"></i> Please correct the error</span>
									</div>
								</div>

								<div class="form-group has-success">
									<label class="col-md-2 control-label">Input success</label>
									<div class="col-md-10">
										<div class="input-group">
											<span class="input-group-addon"><i class="fa fa-dollar"></i></span>
											<input class="form-control" type="text">
											<span class="input-group-addon"><i class="fa fa-check"></i></span>
										</div>
										<span class="help-block">Something may have gone wrong</span>
									</div>
								</div>

								<div class="form-group">
									<label class="control-label col-md-2">Input icon success</label>
									<div class="col-md-10">
										<div class="row">
											<div class="col-sm-12">

												<div class="input-icon-left">
													<i class="fa txt-color-green fa-check"></i>
													<input class="form-control" placeholder="Left Icon" type="text">
												</div>

											</div>
										</div>
									</div>
								</div>

							</fieldset>

						</div>

						<div class="step-pane" id="step2">
							<h3><strong>Step 2 </strong> - Alerts</h3>

							<div class="alert alert-warning fade in">
								<button class="close" data-dismiss="alert">
									×
								</button>
								<i class="fa-fw fa fa-warning"></i>
								<strong>Warning</strong> Your monthly traffic is reaching limit.
							</div>

							<div class="alert alert-success fade in">
								<button class="close" data-dismiss="alert">
									×
								</button>
								<i class="fa-fw fa fa-check"></i>
								<strong>Success</strong> The page has been added.
							</div>

							<div class="alert alert-info fade in">
								<button class="close" data-dismiss="alert">
									×
								</button>
								<i class="fa-fw fa fa-info"></i>
								<strong>Info!</strong> You have 198 unread messages.
							</div>

							<div class="alert alert-danger fade in">
								<button class="close" data-dismiss="alert">
									×
								</button>
								<i class="fa-fw fa fa-times"></i>
								<strong>Error!</strong> The daily cronjob has failed.
							</div>

						</div>

						<div class="step-pane" id="step3">
							<h3><strong>Step 3 </strong> - Wizard continued</h3>
							<br>
							<br>
							<h1 class="text-center text-primary"> This will be your Step 3 </h1>
							<br>
							<br>
							<br>
							<br>
						</div>

						<div class="step-pane" id="step4">
							<h3><strong>Step 4 </strong> - Wizard continued...</h3>
							<br>
							<br>
							<h1 class="text-center text-danger"> This will be your Step 4 </h1>
							<br>
							<br>
							<br>
							<br>
						</div>

						<div class="step-pane" id="step5">
							<h3><strong>Step 5 </strong> - Finished!</h3>
							<br>
							<br>
							<h1 class="text-center text-success"><i class="fa fa-check"></i> Congratulations!
							<br>
							<small>Click finish to end wizard</small></h1>
							<br>
							<br>
							<br>
							<br>
						</div>

					</form>
				</div>

			</div>
			<!-- end widget content -->

		</div>
		<!-- end widget div -->

	</div>
	<!-- end widget -->

</article>
    <div class="reviews-details" id="comments">
        <div class="container">
            <h5 class="reviews-count">47 Reviews</h5>

{#            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">#}
{#                <h5 class="title-details">Resumen</h5>#}
{#            </div>#}
{#            <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">#}
{#                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">#}
{#                    <h6 class="point">Habitaciones: </h6>#}
{#                    <span class="score">#}
{#                        <span class="ion-star"></span>#}
{#                        <span class="ion-star"></span>#}
{#                        <span class="ion-star"></span>#}
{#                        <span class="ion-star"></span>#}
{#                        <span class="ion-star"></span>#}
{#                    </span>#}
{#                </div>#}
{#                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">#}
{#                    <h6 class="point">Limpieza: </h6>#}
{#                    <span class="score">#}
{#                        <span class="ion-star"></span>#}
{#                        <span class="ion-star"></span>#}
{#                        <span class="ion-star"></span>#}
{#                        <span class="ion-star"></span>#}
{#                        <span class="ion-star"></span>#}
{#                    </span>#}
{#                </div>#}
{#                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">#}
{#                    <h6 class="point">Atencion: </h6>#}
{#                    <span class="score">#}
{#                        <span class="ion-star"></span>#}
{#                        <span class="ion-star"></span>#}
{#                        <span class="ion-star"></span>#}
{#                        <span class="ion-star"></span>#}
{#                        <span class="ion-star"></span>#}
{#                    </span>#}
{#                </div>#}
{#                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">#}
{#                    <h6 class="point">Recibida: </h6>#}
{#                    <span class="score">#}
{#                        <span class="ion-star"></span>#}
{#                        <span class="ion-star"></span>#}
{#                        <span class="ion-star"></span>#}
{#                        <span class="ion-star"></span>#}
{#                        <span class="ion-star"></span>#}
{#                    </span>#}
{#                </div>#}
{#                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">#}
{#                    <h6 class="point">Despedida: </h6>#}
{#                    <span class="score">#}
{#                        <span class="ion-star"></span>#}
{#                        <span class="ion-star"></span>#}
{#                        <span class="ion-star"></span>#}
{#                        <span class="ion-star"></span>#}
{#                        <span class="ion-star"></span>#}
{#                    </span>#}
{#                </div>#}
{#                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">#}
{#                    <h6 class="point">Alimentacion: </h6>#}
{#                    <span class="score">#}
{#                        <span class="ion-star"></span>#}
{#                        <span class="ion-star"></span>#}
{#                        <span class="ion-star"></span>#}
{#                        <span class="ion-star"></span>#}
{#                        <span class="ion-star"></span>#}
{#                    </span>#}
{#                </div>#}
{#            </div>#}

            <div class="col-xs-12">
                <button class="translator-btn btn btn-block">Translate all the experiences</button>

                <div class="reviews-list container" id="comentarios">
                    <div class="item col-xs-12">
                        <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
                            <div class="container">
                                <!-- temp -->
                                <div class="usr-logo">
                                </div>
                                <small class="author">John Doe</small>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                                cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                                proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                        </div>
                        <div class="date col-xs-12"><span class="ion-android-calendar"></span>
                            <small>A moment ago</small>
                        </div>
                    </div>
                    <div class="item col-xs-12">
                        <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
                            <div class="container">
                                <!-- temp -->
                                <div class="usr-logo">
                                </div>
                                <small class="author">John Doe</small>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                                cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                                proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                        </div>
                        <div class="date col-xs-12"><span class="ion-android-calendar"></span>
                            <small>A moment ago</small>
                        </div>
                    </div>
                    
                </div>

                <div class="review-create-form">
                    <h6 class="review-create-title text-center">Please, leave your thoughts.</h6>

                    <form action="#" method="post" class="form-group">
                        <div class="col-xs-12 form-group">
                            <input type="text" class="form-control form-lg" name="full_name" id="full_name" placeholder="Nombre completo">
                        </div>
                        <div class="col-xs-12 form-group">
                            <input type="email" class="form-control form-lg" name="user_email" id="user_email" placeholder="Correo electronico">
                        </div>

                        <input type="hidden" name="home_id" id="home_id" value="{{ entity.pk }}">
                        <input type="hidden" name="post_url" id="post_url" value="{% url 'comment' %}">
                        <div class="col-xs-12 form-group">
                            <textarea class="form-control comment-body" name="comment-body" id="comment-body" rows="10"></textarea>
                        </div>
                        <div class="col-xs-12 form-group">
                            <input type="submit" class="btn btn-success" value="Comment">
                            <input type="submit" class="btn btn-danger" value="Cancel">
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>

{% endblock %}
{% block level_scripts %}
    <script src="/static/js/gallery.js"></script>
    <script src="/static/js/app.config.js"></script>
    <!-- JS TOUCH : include this plugin for mobile drag / drop touch events-->
    {#    <script src="/static/js/plugin/jquery-touch/jquery.ui.touch-punch.min.js"></script>#}
    <!-- CUSTOM NOTIFICATION -->
    {#    <script src="/static/js/notification/SmartNotification.min.js"></script>#}
    <!-- JARVIS WIDGETS -->
    
    <!-- EASY PIE CHARTS -->
    {#    <script src="/static/js/plugin/easy-pie-chart/jquery.easy-pie-chart.min.js"></script>#}
    <!-- SPARKLINES -->
    {#    <script src="/static/js/plugin/sparkline/jquery.sparkline.min.js"></script>#}
    <!-- JQUERY VALIDATE -->
    <script src="/static/js/plugin/jquery-validate/jquery.validate.min.js"></script>
    <!-- JQUERY MASKED INPUT -->
    {#    <script src="/static/js/plugin/masked-input/jquery.maskedinput.min.js"></script>#}
    <!-- JQUERY SELECT2 INPUT -->
    {#    <script src="/static/js/plugin/select2/select2.min.js"></script>#}
    <!-- JQUERY UI + Bootstrap Slider -->
    <script src="/static/js/plugin/bootstrap-slider/bootstrap-slider.min.js"></script>
    <!-- browser msie issue fix -->
    {#    <script src="/static/js/plugin/msie-fix/jquery.mb.browser.min.js"></script>#}
    {#    <!-- FastClick: For mobile devices -->#}
    {#    <script src="/static/js/plugin/fastclick/fastclick.min.js"></script>#}
    <!--[if IE 8]>
    <![endif]-->
    <!-- Demo purpose only -->
    <script src="/static/js/demo.min.js"></script>
    <!-- MAIN APP JS FILE -->
    <script src="/static/js/app.min.js"></script>
    <!-- ENHANCEMENT PLUGINS : NOT A REQUIREMENT -->
    <!-- Voice command : plugin -->
    <script src="/static/js/speech/voicecommand.min.js"></script>
    <!-- SmartChat UI : plugin -->
    
    <!-- PAGE RELATED PLUGIN(S) -->
    <script src="/static/js/plugin/bootstrap-wizard/jquery.bootstrap.wizard.min.js"></script>
    <script src="/static/js/plugin/fuelux/wizard/wizard.min.js"></script>
    <script src="/static/js/jquery-ui.min.js"></script>
    <script src="/static/js/comment_async.js"></script>
    <script type="text/javascript">
        // DO NOT REMOVE : GLOBAL FUNCTIONS!
        $(document).ready(function () {


            $('#from').datepicker({
                defaultDate: "+lw",
                changeMonth: true,
                onClose: function (selectedDate) {
                    $("#to").datepicker("option", "maxDate", selectedDate);
                }
            });

            $('#to').datepicker({
                defaultDate: "+lw",
                changeMonth: true,
                onClose: function (selectedDate) {
                    $("#from").datepicker("option", "minDate", selectedDate);
                }
            });


            pageSetUp();
            //Bootstrap Wizard Validations
            var $validator = $("#wizard-1").validate({
                rules: {
                    email: {
                        required: true,
                        email: "Your email address must be in the format of name@domain.com"
                    },
                    fname: {
                        required: true
                    },
                    lname: {
                        required: true
                    },
                    cant_habitaciones: {
                        required: true
                    },
                    hab_simple: {
                        required: true
                    },
                    hab_doble: {
                        required: true
                    },
                    hab_triple: {
                        required: true
                    },
                    country: {
                        required: true
                    },
                    city: {
                        required: true
                    },
                    wphone: {
                        required: true

                    },
                    hphone: {
                        required: true

                    }
                },
                messages: {
                    fname: "Please specify your First name",
                    lname: "Please specify your Last name",
                    email: {
                        required: "We need your email address to contact you",
                        email: "Your email address must be in the format of name@domain.com"
                    }
                },
                highlight: function (element) {
                    $(element).closest('.form-group').removeClass('has-success').addClass('has-error');
                },
                unhighlight: function (element) {
                    $(element).closest('.form-group').removeClass('has-error').addClass('has-success');
                },
                errorElement: 'span',
                errorClass: 'help-block',
                errorPlacement: function (error, element) {
                    if (element.parent('.input-group').length) {
                        error.insertAfter(element.parent());
                    } else {
                        error.insertAfter(element);
                    }
                }
            });
           var wizard = $('.wizard').wizard();

			  wizard.on('finished', function (e, data) {
			    //$("#fuelux-wizard").submit();
			    //console.log("submitted!");
			    $.smallBox({
			      title: "Congratulations! Your form was submitted",
			      content: "<i class='fa fa-clock-o'></i> <i>1 seconds ago...</i>",
			      color: "#5F895F",
			      iconSmall: "fa fa-check bounce animated",
			      timeout: 4000
			    });

			  });
            });
            // fuelux wizard
            var wizard = $('.wizard').wizard();
            wizard.on('finished', function (e, data) {
                //$("#fuelux-wizard").submit();
                //console.log("submitted!");
                $.smallBox({
                    title: "Congratulations! Your form was submitted",
                    content: "<i class='fa fa-clock-o'></i> <i>1 seconds ago...</i>",
                    color: "#5F895F",
                    iconSmall: "fa fa-check bounce animated",
                    timeout: 4000
                });
            });
        })
    </script>

{% endblock %}
