{% extends 'layout.html' %}

{% load staticfiles %}

{% block level_styles %}
<link rel="stylesheet" type="text/css" href="{% static 'css/jquery-ui.min.css' %}">
<script type="text/javascript" src="{% static 'js/modernizr.custom.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/home_filter.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/responsive.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/daterangepicker.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/MyStyle.css' %}">
<link rel="stylesheet" href="{% static 'css/owl.carousel.css' %}">
<link rel="stylesheet" href="{% static 'css/owl.theme.css' %}">
<link type="text/css" rel="stylesheet" href="{% static 'css/carousel.css' %}"/>
<link rel="stylesheet" href="{% static 'css/swiper.css' %}">
<link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}
{% block body %}

<style type="text/css">

    #slide > div > a {

        display: block;
        height: 300px;
    }

    #slide > div {

        height: 300px;
    }

    #slide div {

        margin-top: 5px;
        margin-left: 0;
    }

    #slide div div {
        margin: 0
    }
</style>

<div class="text-overlay-example">

    <nav id="tf-menu" class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{% url 'home_page' %}">Tropicollage</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#tf-home" class="page-scroll">Home</a></li>
                    <li><a href="#tf-about" class="page-scroll">About</a></li>
                    <li><a href="#tf-reservations" class="page-scroll">Reservations</a></li>
                    <li><a href="#tf-works" class="page-scroll">Services</a></li>
                    <li><a href="#tf-testimonials" class="page-scroll">Testimonials</a></li>
                    <li><a href="#tf-contact" class="page-scroll">Contact</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div id="tf-home" class="swiper-container">
        <div class="another-shade">
            <div class="backgroundc">
            <div class="container-fluid">
                <div class="content">
                    <header>
                        <p class="Nombre1">Find the house to spend your vacations.</p>
                    </header>
                    <form action="{% url 'casas' %}" class="form-inline" method="post" style="padding-bottom: 2%;">
                        {% csrf_token %}
                        <div class="selectdays">
                            <!--<div class="form-group  label1">-->
                            <select class="form-control findButton" name="destination">
                                <option value>Select a place</option>
                                {% for item in places %}
                                <option value="{{ item }}">{{ item }}</option>
                                {% endfor %}
                            </select>
                            <div>
                                <button type="submit" class="btn btn-warning findButton">
                                    <span class="glyphicon glyphicon-search"></span>
                                    Find
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        </div>
        <div class="swiper-wrapper">
            <div class="swiper-slide" style="background-image:url({% static 'img/slider/03.png' %})"></div>
            <div class="swiper-slide" style="background-image:url({% static 'img/slider/04.png' %})"></div>
            <div class="swiper-slide" style="background-image:url({% static 'img/slider/05.png' %})"></div>
            <div class="swiper-slide" style="background-image:url({% static 'img/slider/06.png' %})"></div>
            <div class="swiper-slide" style="background-image:url({% static 'img/slider/07.png' %})"></div>
            <div class="swiper-slide" style="background-image:url({% static 'img/slider/08.png' %})"></div>
        </div>
        <!-- Add Pagination -->
        <div class="swiper-pagination swiper-pagination-white"></div>
        <!-- Add Arrows -->
        <div class="swiper-button-next swiper-button-white"></div>
        <div class="swiper-button-prev swiper-button-white"></div>
    </div>
    <div id="content" class="container-fluid">

        <div id="tf-about">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <img src="{% static 'img/team/02.png' %}" class="img-responsive comp-logo">
                    </div>
                    <div class="col-md-8">
                        <div class="about-text">
                            <div class="section-title">
                                <h2 style="color:black" class="text-center">About us</h2>
                            </div>
                            <p class="intro text-center">Somos un equipo con más de 5 años de experiencias, que siempre hemos tenido
                                la satisfacción de llegar a cumplir las aspiraciones de nuestros clientes, esperamos que
                                con nosotros pasen las vacaciones de sus sueños.
                                Atentamente equipo <strong>Tropicollage</strong></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="tf-reservations" style="background: url({% static 'img/08.png' %}); background-size: cover;
                                    background-position: center;
                                    background-attachment: fixed;
                                    background-repeat: no-repeat;
                                    color: #ffffff;" class="text-center overlay">
            <div class="overlay">
                <div class="container">

                    <div class="section-title center">
                        <h2>The last<strong> Reservations</strong></h2>
                    </div>
                    <div id="clients" class="owl-carousel owl-theme">
                        {% for item in reservaciones %}
                        <div class="item">
                            <p>{{ item.first_name }} reservo la casa "{{ item.casa.nombre }}"
                                desde {{ item.country }}</p>
                        </div>
                        {% endfor %}

                    </div>

                </div>
            </div>
        </div>


        <div id="tf-works">
            <div class="container-fluid" style="padding-bottom: 80px;">
                <div class="col-xs-12 houses">
                    <h3 class="text-center">Most Sales</h3>
                    {% for i,j,k,m in sorted_casas_reservas %}

                    <div class="house col-xs-12 col-sm-6 col-md-4 col-lg-3">
                        <img class="img-responsive" src="/media/{{ k }}" alt="">

                        <div class="shade">
                            <h1 class="sales">{{ i }}</h1>
                            <a href="{% url 'home_details' m %}" title="" class="btn btn-warning go">{{ j }}</a>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>

        <div id="tf-testimonials" style="   background: url({% static 'img/05.JPG' %});
                                            background-size: cover;
                                            background-position: center;
                                            background-attachment: fixed;
                                            background-repeat: no-repeat;
                                            color: #ffffff;" class="text-center">
            <div class="overlay">
                <div class="container">
                    <div class="section-title center">
                        <h2><strong>Our clients’</strong> testimonials</h2>


                    </div>
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2">

                            {% for entity in feedbacks %}
                            <div class="item">
                                <h5>{{ entity.body }}</h5>

                                <p>user: <strong>{{ entity.full_name }}</strong></p>
                            </div>
                            {% endfor %}


                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="tf-contact" class="text-center">
            <div class="container">

                <div class="row">
                    <div class="col-md-8 col-md-offset-2">

                        <div class="title-contact center">
                            <h2>Feel free to <strong>contact us</strong></h2>
                        </div>

                        <form action="" method="POST">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input type="email" name="username" class="form-control" id="exampleInputEmail1"
                                               placeholder="Enter email">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input class="form-control" name="email" id="exampleInputPassword1"
                                               placeholder="Email adress">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <textarea class="form-control" name="message" rows="3"></textarea>
                            </div>

                            <button type="submit" class="btn tf-btn btn-default">Submit</button>
                        </form>

                    </div>
                </div>
            </div>
        </div>

        {% block footer %}
        <nav id="footer" style="z-index: 56;">
            <div class="container">
                <div class="pull-left fnav">
                    <p>ALL RIGHTS RESERVED. COPYRIGHT © 2015. Tropicollage
                </div>
                <div class="pull-right fnav">
                    <ul class="footer-social">
                        {#<li>{% post_to_facebook 'http://www.tropicollage.com' '<i class="ion-social-facebook"></i>' %}</li>#}
                        {#<li>{% post_to_twitter 'http://www.tropicollage.com' '<i class="ion-social-twitter"></i>' %}</li>#}
                        {#<li>{% post_to_gplus 'http://www.tropicollage.com' '<i class="ion-social-googleplus"></i>' %}</li>#}
                    </ul>
                </div>
            </div>
        </nav>
        {% endblock %}
    </div>
    {% endblock %}


    {% block level_scripts %}
    <script type="text/javascript" src="{% static 'js/jquery-1.10.2.min.js' %}"></script>
    <script src="{% static 'js/jquery-ui.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap.js' %}"></script>
    <script src="{% static 'js/owl.carousel.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/SmoothScroll.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.isotope.js' %}"></script>
    <script src="{% static 'js/owl.carousel.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/moment.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/main.js' %}"></script>

    <script type="text/javascript" src="{% static 'js/mootools.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/PeriodicalExecuter.js' %}"></script>

    <script type="text/javascript" src="{% static 'js/carousel2.js' %}"></script>
    <script src="{% static 'js/swiper.js' %}"></script>
    <script src="{% static 'js/homepage.js' %}"></script>

    <script>
        HomePage.init();
        $(document).ready(function () {

            var $root = $('html,body');
            $('.page-scroll').click(function () {
                $root.animate({
                    scrollTop: $($.attr(this, 'href')).offset().top
                }, 1000);
                return false;

            });
        });
    </script>
    {% endblock %}
