{% extends 'layout.html' %}

{% load staticfiles %}

{% block level_styles %}
<link rel="stylesheet" type="text/css" href="{% static 'css/jquery-ui.min.css' %}">
<script type="text/javascript" src="{% static 'js/modernizr.custom.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/home_filter.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/responsive.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/daterangepicker.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/MyStyle.css' %}">
<link rel="stylesheet" href="{% static 'css/owl.carousel.css' %}">
<link rel="stylesheet" href="{% static 'css/owl.theme.css' %}">
<link type="text/css" rel="stylesheet" href="{% static 'css/carousel.css' %}"/>
<link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}
{% block body %}

<style type="text/css">

    #slide > div > a {

        display: block;
        height: 300px;
    }

    #slide > div {

        height: 300px;
    }

    #slide div {

        margin-top: 5px;
        margin-left: 0;
    }

    #slide div div {
        margin: 0
    }
</style>

<div class="text-overlay-example">
    <!-- Navigation
    ==========================================-->
    <nav id="tf-menu" class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{% url 'home_page' %}">Tropicollage</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#tf-home" class="page-scroll">Home</a></li>
                    <li><a href="#tf-about" class="page-scroll">About</a></li>
                    <li><a href="#tf-works" class="page-scroll">Portfolio</a></li>
                    <li><a href="#tf-testimonials" class="page-scroll">Testimonials</a></li>
                    <li><a href="#tf-contact" class="page-scroll">Contact</a></li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- Home Page
    ==========================================-->
    <main id="tf-home">
        <img src="" alt="">
        <div id="video-wrap" class="video-wrap">
            <video preload="metadata" autoplay loop muted="muted" id="my-video">
                <source src="{% static 'media/movie.mp4' %}" type="video/mp4">
                <source src="{% static 'media/movie.webm' %}" type="video/webm">
                <source src="{% static 'media/movie.ogv' %}" type="video/ogg">
            </video>
        </div>
        <div class="backgroundc">
            <div class="container-fluid">
                <div class="content">
                    <header>
                        <p class="Nombre1">Find the house to spend your vacations.</p>
                    </header>
                    <form action="{% url 'casas' %}" class="form-inline" method="post" style="padding-bottom: 2%;">
                        {% csrf_token %}
                        <div class="selectdays">
                            <!--<div class="form-group  label1">-->
                            <select class="form-control findButton" name="destination">
                                <option value>Select a place</option>
                                {% for item in places %}
                                <option value="{{ item }}">{{ item }}</option>
                                {% endfor %}
                            </select>
                            <!--<input type="text" class="" placeholder="Search">-->
                            <!--</div>-->
                            <!--<div class="form-group col-xs-12 col-sm-12 col-md-12 label1">-->
                            <!--<input type="text" id="endDate" class="form-control" placeholder="Check in">-->
                            <!--</div>-->
                            <!--<div class="form-group col-xs-12 col-sm-12 col-md-12 label3">-->
                            <!--<input type="text" id="startDate" class="form-control" placeholder="Check out">-->
                            <!--</div>-->
                            <div>
                                <button type="submit" class="btn btn-warning findButton">
                                    <span class="glyphicon glyphicon-search"></span>
                                    Find
                                </button>
                            </div>
                        </div>

                    </form>

                </div>
            </div>

        </div>
    </main>


    <!-- About Us Page
    ==========================================-->
    <div id="tf-about">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <img src="{% static 'img/team/02.jpg' %}" class="img-responsive">
                </div>
                <div class="col-md-6">
                    <div class="about-text">
                        <div class="section-title">
                            <h4>About us</h4>

                            <h2 style="color:black">Some words <strong>about us</strong></h2>

                        </div>
                        <p class="intro">Somos un equipo con más de 5 años de experiencias, que siempre hemos tenido
                            la satisfacción de llegar a cumplir las aspiraciones de nuestros clientes, esperamos que
                            pasen las vacaciones de sus sueños.
                            Atentamente equipo <strong>Tropicollage</strong></p>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Clients Section
    ==========================================-->
    <div id="tf-clients" style="background: url({% static 'img/04.JPG' %}); background-size: cover;
                                    background-position: center;
                                    background-attachment: fixed;
                                    background-repeat: no-repeat;
                                    color: #ffffff;" class="text-center">
        <!--<img id="prueba_foto" src=""  alt="">-->
        <div class="overlay">
            <div class="container">

                <div class="section-title center">
                    <h2>The last<strong> Reservations</strong></h2>
                </div>
                <div id="clients" class="owl-carousel owl-theme">
                    {% for item in reservaciones %}
                    <div class="item">
                        <p>{{ item.first_name }} reservo la casa "{{ item.casa.nombre }}"
                            desde {{ item.country }}</p>
                    </div>
                    {% endfor %}

                </div>

            </div>
        </div>
    </div>


    <div id="tf-works">
        <div class="container"> <!-- Container -->
            <div class="title-contact text-center center">
                <h2>Take a look at <strong>our services</strong></h2>

                <div class="line">
                    <hr>
                </div>
                <div class="clearfix"></div>
                <small><em>Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum"
                    (The
                    Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of
                    ethics,
                    very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit
                    amet..",
                    comes from a line in section 1.10.32.</em></small>
            </div>
            <div class="space"></div>


            <div class="slide">

                <div id="slide">
                    {% for item in casas %}
                    <a href="{% url 'home_details' item.pk %}">
                        <img src="/media/{{ item.foto_principal }}" width="400" height="300"/>
                        <span>
                            <img class="img-circle img-responsive"
                                         src="/media/{{ item.foto_dueno }}"
                                         id="owner" width="56" height="66"
                                         alt="100">
                            <div class="name">
                                {{ item.nombre }}
                                <br>
                                {{ item.polo_turistico }}
                                <div class="reviews">
                                    {{ item.feedback_set.all.count }} Reviews
                                </div>
                            </div>

                        </span>
                    </a>

                    {% endfor %}
                </div>
                <div class="tabs"><span id="toggle"></span>
                </div>

            </div>


        </div>
    </div>
</div>

<!-- Testimonials Section
==========================================-->
<div id="tf-testimonials" style="   background: url({% static 'img/05.JPG' %});
                                            background-size: cover;
                                            background-position: center;
                                            background-attachment: fixed;
                                            background-repeat: no-repeat;
                                            color: #ffffff;" class="text-center">
    <div class="overlay">
        <div class="container">
            <div class="section-title center">
                <h2><strong>Our clients’</strong> testimonials</h2>


            </div>
            <div class="row">
                <div class="col-md-8 col-md-offset-2">

                    {% for entity in feedbacks %}
                    <div class="item">
                        <h5>{{ entity.body }}</h5>

                        <p>user: <strong>{{ entity.full_name }}</strong></p>
                    </div>
                    {% endfor %}


                </div>
            </div>
        </div>
    </div>
</div>
{#TODO: Edit the search form in the tf-home #}
<!-- Contact Section
==========================================-->
<div id="tf-contact" class="text-center">
    <div class="container">

        <div class="row">
            <div class="col-md-8 col-md-offset-2">

                <div class="title-contact center">
                    <h2>Feel free to <strong>contact us</strong></h2>
                </div>

                <form action="" method="POST">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="email" name="username" class="form-control" id="exampleInputEmail1"
                                       placeholder="Enter email">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <input class="form-control" name="email" id="exampleInputPassword1"
                                       placeholder="Email adress">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <textarea class="form-control" name="message" rows="3"></textarea>
                    </div>

                    <button type="submit" class="btn tf-btn btn-default">Submit</button>
                </form>

            </div>
        </div>


    </div>

    {% block level_scripts %}
    <script type="text/javascript" src="{% static 'js/jquery-1.10.2.min.js' %}"></script>
    <script src="{% static 'js/jquery-ui.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap.js' %}"></script>
    <script src="{% static 'js/owl.carousel.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/SmoothScroll.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.isotope.js' %}"></script>
    <script src="{% static 'js/owl.carousel.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/moment.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/main.js' %}"></script>

    <script type="text/javascript" src="{% static 'js/mootools.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/PeriodicalExecuter.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/Carousel.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/Carousel.Rotate3D.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/Carousel.Extra.js' %}"></script>


    <script type="text/javascript" src="{% static 'js/carousel2.js' %}"></script>

    <script type="text/javascript" src="{% static 'js/backgroundVideo.js' %}"></script>


    <script>
        var isMobile = {
            Android: function () {
                return navigator.userAgent.match(/Android/i);
            },
            BlackBerry: function () {
                return navigator.userAgent.match(/BlackBerry/i);
            },
            iOS: function () {
                return navigator.userAgent.match(/iPhone|iPad|iPod/i);
            },
            Opera: function () {
                return navigator.userAgent.match(/Opera Mini/i);
            },
            Windows: function () {
                return navigator.userAgent.match(/IEMobile/i);
            },
            any: function () {
                return (isMobile.Android() || isMobile.BlackBerry() || isMobile.iOS() || isMobile.Opera() || isMobile.Windows());
            }
        };

        $(document).ready(function () {

            init({

                animation: 'Rotate3D',
                min: Carousel.scale ? .1 : .4,
                yRadius: Carousel.scale ? 10 : 50,
                margin: Carousel.scale ? 25 : 0,
                offsetAngle: Carousel.scale ? -195 : 0,
                centerOffset: {

                    x: Carousel.scale ? -100 : 0,
                    y: 0
                }
            });

            if (isMobile.any()) {
                $('#my-video').addEventListener('autoplay', function () {
                    $('#my-video').play();
                });
                $('#my-video').load();
                $('#my-video').play();
//                        $('#my-video').attr('poster', '/static/img/poster.jpg');
//                        $('#my-video').removeAttr('autoplay');
            }

            $('#my-video').backgroundVideo({
                pauseVideoOnViewLoss: true,
                parallaxOptions: {
                    effect: 1.7
                }
            });

            $('#startDate').datepicker({
                defaultDate: "+lw",
                changeMonth: true,
                onClose: function (selectedDate) {
                    $("endDate").datepicker("option", "maxDate", selectedDate);
                }
            });

            $('#endDate').datepicker({
                defaultDate: "+lw",
                changeMonth: true,
                onClose: function (selectedDate) {
                    $("#startDate").datepicker("option", "minDate", selectedDate);
                }
            });

            $('#myTab a').click(function (e) {
                e.preventDefault();
                $(this).tab('show')
            });

//
//                    {#                    $('#demo').daterangepicker({#}
//                    {#                        "autoApply": true,#}
//                    {#                        "startDate": "10/06/2015",#}
//                    {#                        "endDate": "10/12/2015"#}
//                    {#                    }, function (start, end, label) {#}
//                    {#                        $('#in-date').attr('value', start.format('YYYY-MM-DD'));#}
//                    {#                        $('#out-date').attr('value', end.format('YYYY-MM-DD'));#}
//                    {#                        console.log(start.format('YYYY-MM-DD'));#}
//                    {#                    });#}
        })
        ;

        $('#owl-demo').owlCarousel({
            autoPlay: 3000, //Set AutoPlay to 3 seconds
            items: 4,
            itemsDesktop: [1199, 3],
            itemsDesktopSmall: [979, 3]
        });

        var $root = $('html,body');
        $('.page-scroll').click(function () {
            $root.animate({
                scrollTop: $($.attr(this, 'href')).offset().top
            }, 1000);
            return false;

        });
    </script>
    {% endblock %}

</div>
</div>
</div>
{% endblock %}
